.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 70px 0;
  box-sizing: border-box;
}
.logo {
  font-size: 44px;
  font-family: "Joti One";

  margin: 0;
  margin-bottom: 40px;

  color: var(--main-b);
  text-transform: uppercase;
}
.newTodo {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
.newTodo > *:not(:last-child) {
  margin-right: 20px;
}
.input {
  flex: 1 1 100%;

  width: 100%;
  height: 40px;

  border: none;
  outline: none;

  padding: 0 15px 4px 15px;
  border-radius: var(--rad7);

  color: var(--main-b);
  border: var(--bord);
  outline: 1px solid transparent;

  background: transparent;
  transition: 0.2s ease-in-out;
}
.input:focus {
  outline-color: var(--main-b);
  border-color: var(--main-b);
}
::placeholder {
  color: var(--main-b22);
}
.save {
  flex: 0 0 120px;

  border: none;
  outline: none;
  color: var(--main-b);
  border: var(--bord);
  background: transparent;
  letter-spacing: var(--ls);

  padding: var(--cor-txt-b);
  border-radius: var(--rad7);
  cursor: pointer;

  transition: 0.2s ease-in-out;
}
.save:hover {
  border-color: transparent;
  color: var(--main-w);
  background: var(--main-b);
}
.hr {
  display: block;

  width: 100%;
  height: 1px;

  margin: 15px 0;
  background: var(--main-b22);
}

.todos {
  display: flex;
  flex-direction: column;

  width: 100%;

  color: var(--main-b);

  margin: 0;
  padding: 0;
}
.todos > *:not(:last-child) {
  margin-bottom: 15px;
}
.todo {
  display: flex;
  justify-content: space-between;
  width: 100%;

  padding: 8px 15px;
  box-sizing: border-box;

  border-radius: var(--rad7);
  transition: 0.2s ease-in-out;
  border: 1px solid transparent;
}
.todo:hover {
  border-color: var(--main-b22);
}
.todo .textEdit p {
  color: var(--main-b22);
  margin: 0;
  padding: var(--cor-txt-t);
  transition: 0.2s ease-in-out;
}
.textEdit:hover p {
  color: var(--main-b);
}
.todo:hover .textEdit {
  opacity: 1;
}
.textBlock {
  display: flex;
  align-items: center;
  max-width: 613px;
}
.textBlock > *:not(:last-child) {
  padding-right: 5px;
}
.text {
  font-size: 18px;

  margin: 0;
  box-sizing: border-box;
  padding: var(--cor-txt-t);

  color: inherit;
  border: none;
  outline: none;
  background: transparent;
}
.textEdit {
  display: flex;
  align-items: center;
  justify-content: center;

  /* width: 20px; */
  /* min-width: 20px; */
  height: 20px;
  min-height: 20px;

  opacity: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.textEdit > *:not(:last-child) {
  margin-right: 5px;
}
.textEdit:hover {
  opacity: 1;
}
.textEdit svg {
  width: 15px;
  height: 15px;
}
.textEdit g {
  fill: var(--main-b22);
  transition: 0.2s ease-in-out;
}
.textEdit:hover g {
  fill: var(--main-b);
}

.interaction {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 105px;
}
.interaction > *:not(:last-child) {
  margin-right: 15px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  padding: 0;

  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}
svg {
  width: 20px;
  height: 20px;
}

.complete {
}
.complete g {
  transition: 0.2s ease-in-out;
}
.complete:hover g {
  fill: var(--bord-color);
}
.remove {
}
.remove g {
  transition: 0.2s ease-in-out;
}
.remove:hover g {
  fill: var(--remove);
}

.emptyTodos {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 200px;

  padding: 9px 16px;
  box-sizing: border-box;
  color: var(--main-b5);
}
